/* UTILITY */
@import url('https://fonts.googleapis.com/css?family=Lato:400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 100%;} /*16px*/

body {
    background: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: unset;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem; font-weight: 800;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.marginTop {
    margin-top: 32px;
}
/* END OF UTILITY */

/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    height: 52px;
}
.navbar .nav-link {
    margin-right: 24px;
    text-transform: uppercase;
}
/* End of Navbar */


/* SLIDESHOW */
/* Fickity */
.carousel {
    width: 100%;
}
  
.carousel-cell {
    width: 100%;
    height: 620px;
    margin-right: 0 !important;
    counter-increment: gallery-cell;
}
  
/* position dots in gallery */
#banner .flickity-page-dots {
    bottom: 24px;
}
/* white circles */
#banner .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
#banner .flickity-page-dots .dot.is-selected {
    background: white;
}
/* End Fickity */

/* Banner 1 */
.banner1 {
    background-image: url(../img/Banner1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.banner2 {
    background-image: url(../img/Banner2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.display-4 {
    font-weight: 900;
    color: #fff;
    font-size: 48px;
    margin-top: 156px;
}
/* End of Banner 1 */
/* END OF SLIDESHOW */

/* Pilihan Produk */
.produk {
    margin-top: 36px;
}
.produk .card {
    border-radius: 8px;
}
.produk .card:hover {
    cursor: pointer;
    box-shadow: 0px 46px 164px rgba(0, 0, 0, 0.07), 0px 19.2177px 68.5153px rgba(0, 0, 0, 0.0503198), 0px 10.2747px 36.6315px rgba(0, 0, 0, 0.0417275), 0px 5.75991px 20.5353px rgba(0, 0, 0, 0.035), 0px 3.05905px 10.9062px rgba(0, 0, 0, 0.0282725), 0px 1.27294px 4.5383px rgba(0, 0, 0, 0.0196802);
}
/* End of Pilihan Produk */


/* Layanan Jasa */
.poinJasa {
    margin-left: 24px;
}

#Jasa .card {
    border-radius: 8px;
}
#Jasa .card:hover {
    cursor: pointer;
    box-shadow: 0px 46px 164px rgba(0, 0, 0, 0.07), 0px 19.2177px 68.5153px rgba(0, 0, 0, 0.0503198), 0px 10.2747px 36.6315px rgba(0, 0, 0, 0.0417275), 0px 5.75991px 20.5353px rgba(0, 0, 0, 0.035), 0px 3.05905px 10.9062px rgba(0, 0, 0, 0.0282725), 0px 1.27294px 4.5383px rgba(0, 0, 0, 0.0196802);
}
/* Fickity */
  
#Jasa .carousel-cell {
    width: 60%;
    height: auto !important;
    margin-right: 24px !important;
    counter-increment: gallery-cell;
}

#Jasa .flickity-page-dots {
    display: none;
}
/* End Fickity */
/* End of Layanan Jasa */

/* Promo */
#Promo img{
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 46px 164px rgba(0, 0, 0, 0.07), 0px 19.2177px 68.5153px rgba(0, 0, 0, 0.0503198), 0px 10.2747px 36.6315px rgba(0, 0, 0, 0.0417275), 0px 5.75991px 20.5353px rgba(0, 0, 0, 0.035), 0px 3.05905px 10.9062px rgba(0, 0, 0, 0.0282725), 0px 1.27294px 4.5383px rgba(0, 0, 0, 0.0196802);
}
/* End of Promo */

/* Artikel */
#Artikel {
    margin-top: 36px;
}

#Artikel .card:hover {
    cursor: pointer;
    box-shadow: 0px 46px 164px rgba(0, 0, 0, 0.07), 0px 19.2177px 68.5153px rgba(0, 0, 0, 0.0503198), 0px 10.2747px 36.6315px rgba(0, 0, 0, 0.0417275), 0px 5.75991px 20.5353px rgba(0, 0, 0, 0.035), 0px 3.05905px 10.9062px rgba(0, 0, 0, 0.0282725), 0px 1.27294px 4.5383px rgba(0, 0, 0, 0.0196802);
}

#Artikel .tanggal {
    text-transform: uppercase;
    font-weight: 600;
    color: #2D9CDB;
}

#Artikel .title {
    font-size: 21px;
}
/* End of Artikel */

#copyright {
    background-color: #333;
}


/* DESKTOP SIZE */
@media (min-width: 992px) { 
    .marginTop {
        margin-top: 80px;
    }
    /* Navbar */
    .nav-link {
        color: #fff !important;
    }
    /* End of Navbar */
    /* SLIDESHOW */
    #banner {
        margin-top: -84px;
    }
    .display-4 {
        font-weight: 900;
        color: #fff;
        font-size: 86px;
        margin-top: 156px;
    }
    /* END OF SLIDESHOW */
}